<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<title>About Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="all" />

<!-- index.css -->
<link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<style >
	.footer {
    background: #33373D none repeat scroll 0 0;
    border-top: 0px solid #fcab0e;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4{
    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
</style>
</head>

<body>
<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-3 logo-w3">
			<a href="/dashboard/"><h1>CARTE </h1></a>
		</div>
		<div class="col-md-6 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
				<li><a href="/profile/">My Account  </a></li>
				<li style="padding-left: 10px"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></li>
				<li><a href="/logout/">Logout</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>	
</div>
<div class="banner-agile">
	<div class="container">
		<h2>OUR MISSION IS TO ENSURE</h2>
		<h3>NO ONE GETS<span> BAD SERVICE </span></h3>
		<p>We are a team of dedicated engineers and managers who work to make your life easy. </p>
	</div>
</div>
<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h1>We do this by</h1>
		<p>
		Helping people discover great places around them.
		Our team gathers information from every restaurant on a regular basis to ensure our data is fresh. Our vast community of food lovers share their reviews and photos, so you have all that you need to make an informed choice.
		</p>
		<br>
		<p1>
			Building amazing experiences around dining.
			Starting with information for over 1 million restaurants (and counting) globally, we're making dining smoother and more enjoyable with services like online ordering and table reservations.
		</p1>
		<br><br>
		<p>
			Enabling restaurants to create amazing experiences.
			With dedicated engagement and management tools, we're enabling restaurants to spend more time focusing on food itself, which translates directly to better dining experiences.
		</p>
		</div>
		</div>
		<div class="team" id="team">
			<div class="container">
				<h3> Our Team</h3>
		<div class="team-grids">
			<div class="col-md-4 team-grid">
				<div class="team-img">
					<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/10427677_696023447185642_7502114183653236509_n.jpg?oh=92f7500354c1556bb2f67c86b64b2a0e&oe=588BA6A2" class="img-responsive" alt=" " />
						<figcaption class="overlay">
							<div class="social-icon">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="https://www.facebook.com/shashank.agarwal.9081?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</div>
						</figcaption>
					</div>
					<h4>Shashank Agarwal</h4>
					<h5>Product Owner</h5>
			</div>
			<div class="col-md-4 team-grid">
				<div class="team-img">
					<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-1/p160x160/11924221_1196198443730461_9104123788684666180_n.jpg?oh=c931ff2d93ba8dd2b10b2408c6564715&oe=588B52EE" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="https://www.facebook.com/shashank.gupta.752487?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Shashank Gupta</h4>
				<h5>Database Expert</h5>
			</div>
			<div class="col-md-4 team-grid">
				<div class="team-img">
					<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/14962542_10205732118861962_1772979843674116217_n.jpg?oh=3d6b78e1ba4a3628624ebb6b830b445a&oe=58CA86DD" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="https://www.facebook.com/sanaa.wadood?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Sanaa Wadood</h4>
				<h5>Site Reliability Engineer</h5>
			</div>
			<div class="col-md-4 team-grid">
				<div class="team-img">
					<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/12369153_1666092796993300_5075970971775906519_n.jpg?oh=58d30ccfb24ca0dd3e7845d4ac4d8869&oe=58C0D7E0" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="https://www.facebook.com/yashokirti.soni"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Yashokirti Soni</h4>
				<h5>Lead Developer</h5>
			</div>
			<div class="col-md-4 team-grid">
				<div class="team-img">
					<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/11207335_489077021270458_4828670066312792578_n.jpg?oh=8500a4885d76947e684d97df336eda15&oe=58C8EA79" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="https://www.facebook.com/profile.php?id=100005044936058&fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Vijay Sharma</h4>
				<h5>Lead Designer</h5>
			</div>
			<div class="col-md-4 team-grid">
				<div class="team-img">
					<img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/13051704_1701512763435348_8779673845269441118_n.jpg?oh=c5e6a66efe40eb65a42e62c8f63a27ce&oe=58C0D4EE" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="https://www.facebook.com/shubham190496?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Shubham Gupta</h4>
				<h5>Designer</h5>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

			</div></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});		
</script>
<script src="js/minicart.js"></script>
	<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script> 
    <section class="footer">
    <div class="container">
    	<div class="row">
        	<div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv logo-w3">

					<a href="/dashboard/"><h4>CARTE </h4></a>
					<p>Explore curated lists of top restaurants,<br>hotels, cafes, pubs, and bars in India,<br> based on trends</p><br>
				</div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<a href="/about/"><h4>about us</h4></a>
                	<p>Meet our Team</p><br>
      				</div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<a href="/contact/"><h4>Contact us</h4></a>
                	<p>We look forward to hearing from you!</p>
      				<p><i class="fa fa-phone"></i> Phone (India) : +91 9460 413 805</p>
      				<p><i class="fa fa-envelope"></i> E-mail : carte@gmail.com</p><br>
      				</div>
            </div>
        </div>
    </div>
</section> 
</body>
</html>