<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<title>CARTE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static "themes/css/flexslider.css" %}" rel="stylesheet"/>
<link href="{% static "themes/css/main.css" %}" rel="stylesheet"/>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<style>
		.banner-agile{
	background:url("http://www.ideamytrip.com/images/slider/2.jpg") no-repeat 0px 0px;
	background-size:cover;
	min-height:515px;
}

</style>
</head>

<body>
<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-3 logo-w3">
			<img src="{% static "images/logo5.png" %}">
			<a href="/dashboard/"><h1>CARTE </h1></a>
		</div>
		<div class="col-md-6 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
				<li><a href="/profile/">My Account  </a></li>
				<li style="padding-left: 10px"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></li>
				<li><a href="/logout/">Logout</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>	
</div>

<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-7 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" active"><a href="index.html" class="hyper "><span>Home</span></a></li>
						<li><a href="about.html" class="hyper"><span>About</span></a></li>
						<li><a href="/contact/" class="hyper"><span>Contact Us</span></a></li>
					</ul>
				</div>
			</nav>
		</div>
								<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
				</script>

		
		<div class="col-md-4 search-agileinfo" >
			<form action="/search/" method="GET">
				<input type="search" name="search" id="search" placeholder="Enter Search Query" required="">
				<a href="#abc">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i> 
				</button>
				</a>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-agile">
	<div class="container">
		<h2>CONTACT US</h2>
	</div>
</div>

<div class="contact">
	<div class="container"><br>
		<h3>Contact Us</h3><hr>
		<div class="col-md-3 col-sm-3 contact-left">
			<div class="address">
				<h4>ADDRESS</h4>
				<h5><i class="fa fa-map-pin"></i> LNMIIT Sumel, Jaipur, India</h5>
			</div>
			<div class="phone">
				<h4>PHONE</h4>
				<h5><i class="fa fa-phone"></i> +1(401) 7073143617.</h5>
				<h5><i class="fa fa-phone"></i> +1(804) 2378232837.</h5>
			</div>
			<div class="email">
				<h4>EMAIL</h4>
				<h5><i class="fa fa-envelope"></i><a href="mailto:info@example.com">carte@gmail.com</a></h5>
				<!-- <h5><a href="mailto:info@example.com">nimxor1@yahoo.com</a></h5> -->
			</div>
		</div>
		<div class="col-md-9 col-sm-9 contact-right">
			<form action="#" method="post">
				<input type="text" name="your name" placeholder="Your name" required=" ">
				<input type="text" name="your email" placeholder="Your email" required=" ">
				<input type="text" name="your subject" placeholder="Your subject" required=" ">
				<input type="text" name="your phone number" placeholder="Phone number" required=" ">
				<textarea  name="your message" placeholder="Your message" required=" "></textarea>
				<input type="submit" value="Send message">
			</form>
		</div>
	</div>
</div>
<div class="map-w3ls">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22702.22744502486!2d11.113366067229226!3d44.662878362361056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc3eca9065c15%3A0x12ec8a03aadae866!2s40019+Sant&#39;Agata+Bolognese+BO%2C+Italy!5e0!3m2!1sen!2sin!4v1451281303075" allowfullscreen></iframe>
</div>
<br><br><br>

<!-- <div class="footer">
	<div class="container">
	<div class="jumbotron">
		<div class="col-md-3 footer-grids fgd1">
		<h4>Information</h4> 
			<ul>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grids fgd2">
			
		</div>
		<div class="col-md-3 footer-grids fgd3">
			
		</div>
		<div class="col-md-3 footer-grids fgd4">
			<h4>My Account</h4> 
			<ul>
				<li><a href="/index/">Login</a></li>
				<li><a href="/register/">Register</a></li>
			</ul>
		</div>
	</div>
	</div>	
</div>
 -->	<script src="js/minicart.js"></script>
	<script type="text/javascript">
		$(".product-box").click(function(){
			var name = $("#name").val();
			var name1 = name.replace(/\ /g,'');
			console.log(name1);
			var temp = "/detail/";
			var url = temp + name1;
			console.log(url);
			$.ajax({
				type:"GET",
				url:url,
				data: {
					'name':name,
				},
			})
		})
	</script>
	<script>
        w3ls1.render();
        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;
        	if (this.subtotal() > 0) {
        		items = this.items();
        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script> 

</body>
</html>