<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<title>CARTE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static "themes/css/flexslider.css" %}" rel="stylesheet"/>
<link href="{% static "themes/css/main.css" %}" rel="stylesheet"/>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
</head>

<body>
<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-3 logo-w3">
			<a href="index.html"><h1>CARTE </h1></a>
		</div>
		<div class="col-md-6 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
				<li><a href="/profile/">My Account  </a></li>
				<li style="padding-left: 10px"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></li>
				<li><a href="/logout/">Logout</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>	
</div>

<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-7 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" active"><a href="index.html" class="hyper "><span>Home</span></a></li>
						<!-- <li><a href="about.html" class="hyper"><span>About</span></a></li>
						<li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li> -->
					</ul>
				</div>
			</nav>
		</div>
								<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
				</script>

		
		<div class="col-md-4 search-agileinfo" >
			<form action="/search/" method="GET">
				<input type="search" name="search" id="search" placeholder="Enter Search Query" required="">
				<a href="#abc">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i> 
				</button>
				</a>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-agile">
	<div class="container">
		<h2>WELCOME TO</h2>
		<h3>CARTE </h3>
		<p>Find out the best cafes hotels and restaurants nearby.</p>
		<!-- <a href="about.html">Read More</a> -->
	</div>
</div>
<br> <br>
<div class="container">
	<div class="row">
		<div class="col-md-12">													
			<div class="row">
				<div class="col-md-12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Feature <strong>Hotels</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">	
									{% for hotel in hotel_one %}										
									<li class="col-md-3">
										<div class="product-box">
											<span class="sale_tag"></span>
										
											<input type="hidden" id="name" name='name' value="{{hotel.name}}">

											<p><a href="/detail/{{hotel.url}}"><img src="/static/media/{{hotel.image}}" alt="" height="250px"/>
												
											<div data-res-id="102904" class="ads-res-snippet-rating-large  rating-for-102904 level-6">{{hotel.rating}}</div>
											
											</a></p>
												
											<a href="/detail/{{hotel.url}}" class="title">{{hotel.name}}</a><br/>
										
										</div>
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">	
									{% for hotel in hotel_two %}										
									<li class="col-md-3">
										<div class="product-box">
											<span class="sale_tag"></span>
										
											<input type="hidden" id="name" name='name' value="{{hotel.name}}">

											<p><a href="/detail/{{hotel.url}}"><img src="/static/media/{{hotel.image}}" alt="" height="250px"/>
												
											<div data-res-id="102904" class="ads-res-snippet-rating-large  rating-for-102904 level-6">{{hotel.rating}}</div>
											
											</a></p>
												
											<a href="/detail/{{hotel.url}}" class="title">{{hotel.name}}</a><br/>
										
										</div>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>							
					</div>
				</div>						
			</div>
			<br/>
			<br>
			<div class="row">
				<div class="col-md-12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Featured <strong>Restaurents</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-2" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">	
									{% for restaurant in rest_one %}											
										<li class="col-md-3">
											<div class="product-box">
												<span class="sale_tag"></span>
        										
        										<input type="hidden" id="name" name='name' value="{{restaurant.name}}">
												
												<p><a href="/detail/{{restaurant.url}}"><img src="/static/media/{{restaurant.image}}" alt="" height="250px"/>
												
												<div data-res-id="102904" class="ads-res-snippet-rating-large  rating-for-102904 level-6">{{restaurant.rating}}</div>
												</a></p>
												
												<a href="/detail/{{restaurant.url}}" class="title">{{restaurant.name}}</a><br/>
												<!-- <a href="products.html" class="category">Commodo consequat</a>
												<p class="price">$25.50</p> -->
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									{% for restaurant in rest_two %}
									<li class="col-md-3">
										<div class="product-box">
											<input type="hidden" id="name" name='name' value="{{restaurant.name}}">

											<p><a href="/detail/{{restaurant.url}}"><img src="/static/media/{{restaurant.image}}" alt="" height="250px"/ >
											
											<div data-res-id="102904" class="ads-res-snippet-rating-large  rating-for-102904 level-6">{{restaurant.rating}}</div>
											</a></p>
											
											<a href="/detail/{{restaurant.url}}" class="title">{{restaurant.name}}</a><br/>
										</div>
									</li>
									{% endfor %}	
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									{% for restaurant in rest_three %}
									<li class="col-md-3">
										<div class="product-box">
											<input type="hidden" id="name" name='name' value="{{restaurant.name}}">

											<p><a href="/detail/{{restaurant.url}}"><img src="/static/media/{{restaurant.image}}" alt=""height="250px" />
											
											<div data-res-id="102904" class="ads-res-snippet-rating-large  rating-for-102904 level-6">{{restaurant.rating}}</div>
											</a></p>
											
											<a href="/detail/{{restaurant.url}}" class="title">{{restaurant.name}}</a><br/>
										</div>
									</li>
									{% endfor %}	
								</ul>
							</div>
						</div>							
					</div>
				</div>						
			</div>
		</div>				
	</div>
</div>

<br><br>
<!-- <div class="footer">
	<div class="container">
	<div class="jumbotron">
		<div class="col-md-3 footer-grids fgd1">
		<h4>Information</h4> 
			<ul>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grids fgd2">
			
		</div>
		<div class="col-md-3 footer-grids fgd3">
			
		</div>
		<div class="col-md-3 footer-grids fgd4">
			<h4>My Account</h4> 
			<ul>
				<li><a href="/index/">Login</a></li>
				<li><a href="/register/">Register</a></li>
			</ul>
		</div>
	</div>
	</div>	
</div>
 -->	<script src="js/minicart.js"></script>
	<script type="text/javascript">
		$(".product-box").click(function(){
			var name = $("#name").val();
			var name1 = name.replace(/\ /g,'');
			console.log(name1);
			var temp = "/detail/";
			var url = temp + name1;
			console.log(url);
			$.ajax({
				type:"GET",
				url:url,
				data: {
					'name':name,
				},
			})
		})
	</script>
	<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script> 

</body>
</html>