<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Carte Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "css/bootstrap-social.css" %}" type="text/css" media="all" />

	<!--// css -->
	<!-- font -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- //font -->
	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>

<style>
.hef{
	text-align: center;
	margin: 0 0 40px;
}
/*body  {
    background-image: url("http://www.vghks.gov.tw/erli/labanimal/style/images/art/bg1.jpg");

    background-size: cover;

    /*<img src="https://heavytraveladdict.files.wordpress.com/2014/02/world_all-free-download-com.jpg" width="750px;" height="600px">}*/

body  {
        background-image: url("http://www.powerscourthotel.com/cmsGallery/imagerow/3470/resized/1296x682/rc_powerscourt_powerscourt_house_table_setting.jpg");

        background-size: cover;}

.vij{
    opacity:1;
    background-color: #FFFFFF;
}

/*.crop{
	width:250px;
	height: 250px;
	overflow: hidden;
}

.crop img{
	width: 300px;
	height: 300;
	margin: 0px -50px -100px -50px;
}*/
</style>
</head>

<!-- <body background="images\background.jpg">
<div class="header-top-w3layouts" style="background-color: #f8f8f8">
	<div class="container">
		<div class="col-md-6 logo-w3">
			<a href="index.html"><img src="images/logo2.png" alt=" " /><h1>CARTE</h1></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div> -->


	<div class="container">
	<h1 class="hef">
		<!-- <a href="images/logo.png"></a> -->
		
		<img src="{% static "images/logo.png" %}" style="width: 250px;height: 250px;">
		</div>
	</h1>
</div>

	<div class="login">
	
		<div class="main-agileits vij">
				<div class="form-w3agile">
					<h3>Login</h3>
					<h4>{{state}}</h4>
					<form action="/login/" method="POST">{% csrf_token %}
						<div class="key">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input  type="text" name="email" id="email" required="" placeholder="Email">
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input  type="password" name="password" id="password" required="" placeholder="Password">
							<div class="clearfix"></div>
						</div>
						<!-- <input type="submit" value="Login"> -->
						<button type="submit"id="submit" class="inputButton">Login</button>
					</form>
					<a href="#" class="forg-left"> Forgot Password </a>
					<a href="/register/" class="forg-right"> Register </a>
					<!-- <a class="btn btn-block btn-social btn-facebook" style="text-align: center;">
    					<span class="fa fa-facebook"></span> Log in with Facebook
 			 		</a> -->
 			 		<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
					<!-- <a class="btn btn-block btn-social btn-google" style="text-align: center;">
    					<span class="fa fa-google"></span> Log in with Google
  					</a> -->
				</div>
					
				<div class="forg">
				<div class="clearfix"></div>
				</div>
			</div>
		</div>
	<script src="{% static "js/minicart.js" %}"></script>
	<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script> 
    <script type="text/javascript">
    	$("#submit").click(function(){
    		var email = $("#email").val();
	    	var password = $("#password").val();
	    	$.ajax({
	    		type:"POST",
	    		url:'/login/',
	    		data: {
	    			'email': email,
	    			'password': password,
	    		}
	    	});	
	    });
    	
    </script> 
	<!-- //cart-js -->  
</body>
</html>