<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>
{% load staticfiles %}
<head>
<title>CARTE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" >
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="all" >

<!-- index.css -->
<link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
<!--// css -->
<!-- font -->
<link href="{% static "//fonts.googleapis.com/css?family=Source+Sans+Pro" %}" rel="stylesheet">
<link href="{% static "//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" %}" rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static "js/jquery-1.11.1.min.js" %}" ></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<style>
    body  {
        background-image: url("http://www.powerscourthotel.com/cmsGallery/imagerow/3470/resized/1296x682/rc_powerscourt_powerscourt_house_table_setting.jpg");

        background-size: cover;}

    </style>
</head>

<body>

<div class="header-top-w3layouts" style="background-color: #f8f8f8">
  <div class="container">
    <div class="col-md-3 logo-w3">
      <a href="index.html"><h1>CARTE </h1></a>
    </div>

    <!-- <div class="col-md-6 phone-w3l">
      <ul>
        <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
        <li>+18045403380</li>
      </ul>
    </div> -->


    <!-- Profile and login section. -->
    <div class="col-md-6 phone-w3l">
      <ul>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
        <li><a href="/profile/">My Account  </a></li>
        <li style="padding-left: 10px"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>

    
    <div class="clearfix"></div>
  </div>  
</div>


<div class="container">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <!-- left column -->
    <!-- <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div> -->
    <!-- edit form column -->
    <div class="col-md-12 col-sm-6 col-xs-12 personal-info" >
      <!-- <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div> -->
      <h3>Personal info</h3>
        <form class="form-horizontal" role="form" method="POST" action="/update_profile/">{% csrf_token %}        
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{first_name}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{last_name}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{email}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" value="{{username}}" type="text">
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="col-lg-3 control-label">Interests</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text">
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="submit">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>