
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<title>CARTE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
	

<link href="{% static "themes/css/flexslider.css" %}" rel="stylesheet"/>
<link href="{% static "themes/css/main.css" %}" rel="stylesheet"/>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "themes/css/item.css" %}">
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<link href="{% static "themes/css/bootstrappage.css" %}" rel="stylesheet"/>

<script src="{% static "themes/js/jquery-1.7.2.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>				
<script src="{% static "themes/js/superfish.js" %}"></script>	
<script src="{% static "themes/js/jquery.scrolltotop.js" %}"></script>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "themes/js/item.js" %}"></script>
</head>
	

<body>		
<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-3 logo-w3">
			<a href="/dashboard/"><h1>CARTE </h1></a>
		</div>

		<!-- <div class="col-md-6 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li>+18045403380</li>
			</ul>
		</div> -->


		<!-- Profile and login section. -->
		<div class="col-md-6 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
				<li><a href="/profile/">My Account  </a></li>
				<li style="padding-left: 10px"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></li>
				<li><a href="/logout/">Logout</a></li>
			</ul>
		</div>

		
		<div class="clearfix"></div>
	</div>	
</div>

<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-7 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" active"><a href="/dashboard/" class="hyper "><span>Home</span></a></li>	
<!-- 						<li><a href="about.html" class="hyper"><span>About</span></a></li>
						<li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li> -->
					</ul>
				</div>
			</nav>
		</div>
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>

		<div class="col-md-4 search-agileinfo" >
			<form action="/search/" method="GET" >
				<input type="search" name="search" id="search" placeholder="Enter Search query" required="">
				<a id="hello"><button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				</a>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-agile">
	<div class="container">
		<h2>WELCOME TO</h2>
		<h3>CARTE</h3>
		<p>Find out thebest cafes hotels and restaurants nearby.</p>
		<!-- <a href="about.html">Read More</a> -->
	</div>
</div>

<hr>			
<div class="container">				
	<div class="row">						
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-11">
					<a href="{% static "themes/images/ladies/1.jpg" %}" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img id = "im1" alt="" src="/static/media/{{place.image}}" ></a>
				</div>						
			</div>
			<div class="col-md-11">
			<div class="col-l-4 tac left">
                <div class="right">
                    <div class="right rating-info rrw-container rrw-container-102960 " itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                        <div class="res-rating pos-relative clearfix mb5">
                            <div tabindex="0" aria-label="Rated" itemprop="ratingValue" data-res-id="102960" class="rating-for-102960 rating-div rrw-aggregate level-5">
                                3.4<span>/5</span>             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
			<div class="row">

				<!-- navtabs are here -->
				<div class="col-md-11">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#home">Description</a></li>
						<!-- <li class=""><a href="#openhrs">Opening Hours</a></li>
						<li class=""><a href="#menu">Menu</a></li>
						<li class=""><a href="#maps">Maps</a></li>
						<li class=""><a href="#reviews">Reviews</a></li> -->
						<li class=""><a href="#comment">Reviews</a></li>
						<li class=""><a href="#add_comment">Add a Review</a></li>
					</ul>

					<div class="tab-content">
					<div class="tab-pane" id="comment">                
	                    <ul class="media-list">
	                    {% for rate_review in rate_review %}
	                      <li class="media">
	                        <!-- <a class="pull-left" href="#">
	                          <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
	                        </a>
 -->	                    <div class="media-body">
	                          <div class="well well-lg">
	                              <h4 class="media-heading text-uppercase reviews">{{rate_review.user.username}}</h4>
	                              <!-- <ul class="media-date text-uppercase reviews list-inline">
	                                <li class="dd">22</li>
	                                <li class="mm">09</li>
	                                <li class="aaaa">2014</li>
	                              </ul> -->
	                              <p class="media-comment">
	                                {{rate_review.review}}
	                              </p>
	                              <!-- <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
	                              <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a> -->
	                          </div>              
	                        </div>
	                     <!--    <div class="collapse" id="replyOne">
	                            <ul class="media-list">
	                                <li class="media media-replied">
	                                    <a class="pull-left" href="#">
	                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
	                                    </a>
	                                    <div class="media-body">
	                                      <div class="well well-lg">
	                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> The Hipster</h4>
	                                          <ul class="media-date text-uppercase reviews list-inline">
	                                            <li class="dd">22</li>
	                                            <li class="mm">09</li>
	                                            <li class="aaaa">2014</li>
	                                          </ul>
	                                          <p class="media-comment">
	                                            Nice job Maria.
	                                          </p>
	                                          <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
	                                      </div>              
	                                    </div>
	                                </li>
	                                 <li class="media media-replied" id="replied">
	                                    <a class="pull-left" href="#">
	                                      <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/442656111636668417/Q_9oP8iZ.jpeg" alt="profile">
	                                    </a>
	                                    <div class="media-body">
	                                      <div class="well well-lg">
	                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Mary</h4>
	                                          <ul class="media-date text-uppercase reviews list-inline">
	                                            <li class="dd">22</li>
	                                            <li class="mm">09</li>
	                                            <li class="aaaa">2014</li>
	                                          </ul>
	                                          <p class="media-comment">
	                                            Thank you Guys!
	                                          </p>
	                                          <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
	                                      </div>              
	                                    </div>
	                                </li> 
	                            </ul>  
	                        </div> -->
	                      </li>   
	                      {% endfor %}       
	                      <!-- <li class="media">
	                        <a class="pull-left" href="#">
	                          <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">
	                        </a> -->
	                        <!-- <div class="media-body">
	                          <div class="well well-lg">
	                              <h4 class="media-heading text-uppercase reviews">Nico</h4>
	                              <ul class="media-date text-uppercase reviews list-inline">
	                                <li class="dd">22</li>
	                                <li class="mm">09</li>
	                                <li class="aaaa">2014</li>
	                              </ul>
	                              <p class="media-comment">
	                                I'm looking for that. Thanks!
	                              </p>
	                              <div class="embed-responsive embed-responsive-16by9">
	                                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/80lNjkcp6gI" allowfullscreen></iframe>
	                              </div>
	                              <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
	                          </div>              
	                        </div> -->
	                      <!-- </li> -->
	                    <!--   <li class="media">
	                        <a class="pull-left" href="#">
	                          <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/lady_katherine/128.jpg" alt="profile">
	                        </a>
	                        <div class="media-body">
	                          <div class="well well-lg">
	                              <h4 class="media-heading text-uppercase reviews">Kriztine</h4>
	                              <ul class="media-date text-uppercase reviews list-inline">
	                                <li class="dd">22</li>
	                                <li class="mm">09</li>
	                                <li class="aaaa">2014</li>
	                              </ul>
	                              <p class="media-comment">
	                                Yehhhh... Thanks for sharing.
	                              </p>
	                              <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
	                              <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyTwo"><span class="glyphicon glyphicon-comment"></span> 1 comment</a>
	                          </div>              
	                        </div>
	                        <div class="collapse" id="replyTwo">
	                            <ul class="media-list">
	                                <li class="media media-replied">
	                                    <a class="pull-left" href="#">
	                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" alt="profile">
	                                    </a>
	                                    <div class="media-body">
	                                      <div class="well well-lg">
	                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Lizz</h4>
	                                          <ul class="media-date text-uppercase reviews list-inline">
	                                            <li class="dd">22</li>
	                                            <li class="mm">09</li>
	                                            <li class="aaaa">2014</li>
	                                          </ul>
	                                          <p class="media-comment">
	                                            Classy!
	                                          </p>
	                                          <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
	                                      </div>              
	                                    </div>
	                                </li>
	                            </ul>  
	                        </div>
	                      </li> -->
	                    </ul> 
                	</div>
                	<!-- <div class="tab-pane" id="add_comment">
                    	<form action="/add-review/" method="post" class="form-horizontal" id="commentForm" role="form">{% csrf_token %}
	                        <div class="form-group">
	                        	<div class="col-sm-11 col-md-11">
	                            <label for="email" class="control-label"><strong>Comment</strong></label>
	                            </div>
	                            <div class="col-sm-11 col-md-11">
	                              <textarea class="form-control" name="add_review" id="add_review" rows="5"></textarea>
	                              <input type="hidden" id="product_name" name='product_name' value="{{place.name}}">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-sm-offset-7 col-md-offset-7 col-sm-4 col-md-4">                    
	                                <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Submit comment</button>
	                            </div>
	                        </div>            
                    	</form>
                </div> -->
                		<div class="tab-pane" id="add_comment">
                	 <div class="container">
						<div class="row" style="margin-top:10px;">
							<div class="col-md-6">
					    	<div class="well well-sm">
					            <div class="text-right">
					                <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
					            </div>
					        
					            <div class="row" id="post-review-box" style="display:none;">
					                <div class="col-md-12">
					                    <form accept-charset="UTF-8" action="/add-review/" method="post">{% csrf_token %}
					                        <input id="ratings-hidden" name="rating" type="hidden"> 
					                        
					                        <textarea class="form-control animated" cols="10" id="new-review" name="add_rating" id="add_rating" placeholder="Enter your ratings here..." rows="5"></textarea>

					                        <br>
					                        <br>

					                        <textarea class="form-control animated" cols="50" id="new-review" name="add_review" id="add_review" placeholder="Enter your review here..." rows="5"></textarea>
					        				
					        				<input type="hidden" id="product_name" name='product_name' value="{{place.name}}">
					                        

					                        <!-- <div class="text-right">
					                            <div class="stars starrr" data-rating="0"></div>
					                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
					                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
					                            <button class="btn btn-success btn-lg" type="submit">Save</button>
					                        </div> -->
					                    </form>
					                </div>
					            </div>
					        </div> 
					         
							</div>
						</div>
					</div>
                </div>
						<div class="tab-pane active" id="home">{{place.description}}</div>
						<div class="tab-pane" id="openhrs">
							<table class="table table-striped" style="width:100%">
							  	<tr>
								    <td>Mon</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Tue</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Wed</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Thr</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Fri</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Sat</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Sun</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							</table>

						</div>
						<div class="tab-pane" id="menu">
							<table class="table table-striped shop_attributes">	
								<tbody>
									<tr class="">
										<th>Size</th>
										<td>Large, Medium, Small, X-Large</td>
									</tr>		
									<tr class="alt">
										<th>Colour</th>
										<td>Orange, Yellow</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="maps">gsdfgsdgadfgsdgafg</div>
						<div class="tab-pane" id="reviews">gsdfgsdgadfgsdgafg</div>
					</div>				
				</div>	
				<!-- Comment Section -->
			    <!--  Related places  -->
			</div>
		</div>
		<div class="col-md-3 col">
			<div class="block">	
				<ul class="nav nav-list">
					<li class="nav-header">{{category}}</li>
					{% for tag in tags  %}
						<li><a href="#">{{tag}}</a></li>
					{% endfor %}
				</ul>
				<br/>
			</div>
		</div>
	</div>
</div>	
<div class="container">
		<div class="row">
		<div class="col-md-12">	
					<br>
					<h4 class="title">
						<span class="pull-left"><span class="text"><strong>Related</strong> Places</span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-1" class="carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails listing-products">
									{% for place in related_places %}
									<li class="col-md-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<a href="/detail/{{place.url}}"><img alt="" height="230px" src="/static/media/{{place.image}}">
												<div data-res-id="102904" class="ads-res-snippet-rating-large  rating-for-102904 level-5">
        										3.8
      										</div>
											</a><br/>
											<a href="/detail/{{place.url}}" class="title">{{place.name}}</a><br/>
											<!-- <a href="#" class="category">Suspendisse aliquet</a>
											<p class="price">$341</p> -->
										</div>
									</li>
									{% endfor %}
									<p>   </p>
									<!-- <li class="col-md-3">
										<div class="product-box">
											<span class="sale_tag"></span>												
											<a href="product_detail.html"><img alt="" src="themes/images/ladies/5.jpg"></a><br/>
											<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
											<a href="#" class="category">Phasellus consequat</a>
											<p class="price">$341</p>
										</div>
									</li>       
									<li class="col-md-3">
										<div class="product-box">												
											<a href="product_detail.html"><img alt="" src="themes/images/ladies/4.jpg"></a><br/>
											<a href="product_detail.html" class="title">Praesent tempor sem</a><br/>
											<a href="#" class="category">Erat gravida</a>
											<p class="price">$28</p>
										</div>
									</li> -->												
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails listing-products">
									<li class="col-md-3">
										<div class="product-box">
											<span class="sale_tag"></span>												
											<a href="product_detail.html"><img alt="" src="themes/images/ladies/1.jpg"></a><br/>
											<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
											<a href="#" class="category">Phasellus consequat</a>
											<p class="price">$341</p>
										</div>
									</li>       
									<!-- <li class="col-md-3">
										<div class="product-box">												
											<a href="product_detail.html"><img alt="" src="themes/images/ladies/2.jpg"></a><br/>
											<a href="product_detail.html">Praesent tempor sem</a><br/>
											<a href="#" class="category">Erat gravida</a>
											<p class="price">$28</p>
										</div>
									</li>
									<li class="col-md-3">
										<div class="product-box">
											<span class="sale_tag"></span>												
											<a href="product_detail.html"><img alt="" src="themes/images/ladies/3.jpg"></a><br/>
											<a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
											<a href="#" class="category">Suspendisse aliquet</a>
											<p class="price">$341</p>
										</div>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		

	<br><br>
<!-- <div class="footer">
	<div class="container">
	<div class="jumbotron">
		<div class="col-md-3 footer-grids fgd1">
		<h4>Information</h4> 
			<ul>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grids fgd2">
			
		</div>
		<div class="col-md-3 footer-grids fgd3">
			
		</div>
		<div class="col-md-3 footer-grids fgd4">
			<h4>My Account</h4> 
			<ul>
				<li><a href="/index/">Login</a></li>
				<li><a href="/register/">Register</a></li>
			</ul>
		</div>
	</div>
	</div>	
</div> -->	
<script src="themes/js/common.js"></script>
<script>
	$(function () {
		$('#myTab a:first').tab('show');
		$('#myTab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		})
	})
	$(document).ready(function() {
		$('.thumbnail').fancybox({
			openEffect  : 'none',
			closeEffect : 'none'
		});
		
		$('#myCarousel-2').carousel({
            interval: 2500
        });								
	});
</script>
    </body>
</html>