
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<title>CARTE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
	

<link href="{% static "themes/css/flexslider.css" %}" rel="stylesheet"/>
<link href="{% static "themes/css/main.css" %}" rel="stylesheet"/>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static "themes/css/item.css" %}">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->
    <!-- Optional theme --><!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 -->
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<link href="{% static "themes/css/bootstrappage.css" %}" rel="stylesheet"/>

<!-- <script src="{% static "themes/js/jquery-1.7.2.min.js" %}"></script> -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>				
<script src="{% static "themes/js/superfish.js" %}"></script>	
<script src="{% static "themes/js/jquery.scrolltotop.js" %}"></script>
<!-- <script src="{% static "js/jquery-1.11.1.min.js" %}"><s/script> -->
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "themes/js/item.js" %}"></script>
<script src="{% static "js/star.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>

<!-- <script src="{% static "js/countries.js" %}"></script> -->
<style >
	.footer {
    background: #33373D none repeat scroll 0 0;
    border-top: 0px solid #fcab0e;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4{
    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
</style>

<style>
		.banner-agile{
			background:url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/08/Beach-Hotel-HD-Screensavers-Wallpapers.jpg")no-repeat 0px 0px;
			background-size:cover;
			min-height:580px;
		}
		textarea{
			resize:none;
		}
</style>
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

    </style>
</head>
	

<body>

<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-3 logo-w3">
			<img src="{% static "images/logo5.png" %}">
			<a href="/dashboard/"><h1>CARTE </h1></a>
		</div>

		<!-- <div class="col-md-6 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li>+18045403380</li>
			</ul>
		</div> -->


		<!-- Profile and login section. -->
		<div class="col-md-6 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
				<li><a href="/profile/">My Account  </a></li>
				<li style="padding-left: 10px"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></li>
				<li><a href="/logout/">Logout</a></li>
			</ul>
		</div>

		
		<div class="clearfix"></div>
	</div>	
</div>

<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-7 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" active"><a href="/dashboard/" class="hyper "><span>Home</span></a></li>	
 						<li><a href="/about-us/" class="hyper"><span>About</span></a></li>
						<li><a href="/contact-us/" class="hyper"><span>Contact Us</span></a></li> 
					</ul>
				</div>
			</nav>
		</div>
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
					<!-- countries list -->
			<!-- <div align ="center" class="col-md-3"  style="padding-top: 5px;">

	            <select id="country" name ="country"  style="height: 42px; width: 280px;"></select>

				<script language="javascript" >
					populateCountries("country", "state");
					populateCountries("country2");
				</script>

	        </div> -->
		<div class="col-md-4 search-agileinfo" >
			<form action="/search/" method="GET" >
				<input type="search" name="search" id="search" placeholder="Enter Search query" required="">
				<a id="hello"><button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				</a>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-agile">
	<div class="container">
		<h2>WELCOME TO</h2>
		<h3>{{place.name}}</h3>
		<p>Find out thebest cafes hotels and restaurants nearby.</p>
		
	</div>
</div>

<hr>			
<div class="container">				
	<div class="row">						
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-11">
					<a href="" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img id = "im1" alt="" src="/static/media/{{place.image}}" ></a>
				</div>						
			</div>
			<div class="col-md-11">
			<div class="col-l-4 tac left">
                <div class="right">
                    <div class="right rating-info rrw-container rrw-container-102960 " itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                        <div class="res-rating pos-relative clearfix mb5">
                            <div tabindex="0" aria-label="Rated" itemprop="ratingValue" data-res-id="102960" class="rating-for-102960 rating-div rrw-aggregate level-5">
                                {{place.rating}}<span>/5</span>             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
			<div class="row">

				<!-- navtabs are here -->
				<div class="col-md-11">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a data-toggle="tab" href="#home">Description</a></li>
						<!-- <li class=""><a href="#openhrs">Opening Hours</a></li>
						
						<li class=""><a href="#reviews">Reviews</a></li> -->
						<li class="" id="map_google"><a data-toggle="tab" href="#maps">Maps</a></li>
						<li class=""><a data-toggle="tab" href="#menu">Menu</a></li>
						<li class=""><a data-toggle="tab" href="#comment">Reviews</a></li>
						<li class=""><a data-toggle="tab" href="#add_comment">Add a Review</a></li>
					</ul>

					<div class="tab-content">
					<div class="tab-pane" id="comment">                
	                    <ul class="media-list">
	                    {% for rate_review in rate_review %}
	                      <li class="media">
	                        <a class="pull-left" href="#">
	                          <img class="media-object img-circle" src="/static/media/{{rate_review.user_profile.image}}" alt="profile">
	                        </a>
	                    	<div class="media-body">
	                          <div class="well well-lg" style="border-top-left-radius: 2em;">
	                              <h4 class="media-heading text-uppercase reviews text-left"></h4>
	                              <ul class="media-date text-uppercase reviews list-inline">
	                                <!-- <li class="dd">{{date}}</li> -->
	                                <!-- <li class="mm">09</li>
	                                <li class="aaaa">2014</li> -->
	                              </ul>
	                              <p class="media-comment">
	                                {{rate_review.review}}
	                              </p>
	                          </div>              
	                        </div>
	                     </li>   
	                      {% endfor %}       
	                      </li>
	                    </ul> 
                	</div>
                	
                <div class="tab-pane" id="add_comment">
                	 <div class="container">
						<div class="row" style="margin-top:10px;">
							<div class="col-md-7">
					    	<div class="well well-sm">
					            <div class="text-right">
					                <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
					            </div>
					        
					            <div class="row" id="post-review-box" style="display:none;">
					                <div class="col-md-12">
					                    <!-- <form accept-charset="UTF-8" action="/add-review/" method="post">{% csrf_token %}
					                        <input id="ratings-hidden" name="rating" type="hidden"> 
					                        
					                        <textarea class="form-control animated" cols="10" id="new-review" name="add_rating" id="add_rating" placeholder="Enter your ratings here..." rows="5"></textarea>

					                        <br>
					                        <br>

					                        <textarea class="form-control animated" cols="50" id="new-review" name="add_review" id="add_review" placeholder="Enter your review here..." rows="5"></textarea>
					        				
					        				<input type="hidden" id="product_name" name='product_name' value="{{place.name}}">
					                        

					                        <div class="text-right">
					     
					                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
					                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
					                            <button class="btn btn-success btn-lg" type="submit">Save</button>
					                        </div>
					                    </form> -->
					                     <form accept-charset="UTF-8" action="/add-review/" method="post">{% csrf_token %}
					                        <!-- <input id="ratings-hidden" name="rating" type="hidden">  -->
					                        <input type="hidden" id="product_name" name='product_name' value="{{place.name}}">
					                        <!-- <textarea class="form-control animated" cols="10" id="add_rating" name="add_rating" id="add_rating" placeholder="Enter your ratings here(out of 5)..." rows="5" required></textarea>
					                        <br>
					                        <br> -->

					                        <!-- <input id="ratings-hidden" name="rating" type="hidden">  -->
					                        <textarea class="form-control animated" cols="50" id="add_review" name="add_review" placeholder="Enter your review here..." rows="5" required></textarea>
											<br>					        
					                        <div class="text-right">

					                            <!-- <div class="stars starrr" data-rating="0"></div> -->
					                            <!-- <div class="col-md-9"></div>
					                             <div class="col-md-2">
					                             <textarea class="form-control animated" cols="15" id="new-review" name="comment" placeholder="" rows="1"></textarea>
					                             </div> -->
									
					                            <div class="row lead">
        											<div id="stars" class="stars starrr"></div>
        											 <input type="hidden" id="rating_count" name="rating_count" value="0">
        											You gave a rating of <span id="count">0</span> star(s)
												</div>
												<br><br><br>
												<div class="col-md-12">
					                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
					                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
					                            <button class="btn btn-success btn-lg" type="submit">Save</button>
					                          	</div>
					                        </div>
					                    </form>
					                </div>
					            </div>
					        </div> 
					         
							</div>
						</div>
					</div>
                </div>
						<div class="tab-pane active" id="home">{{place.description}}</div>
						<div class="tab-pane" id="openhrs">
							<table class="table table-striped" style="width:100%">
							  	<tr>
								    <td>Mon</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Tue</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Wed</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Thr</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Fri</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Sat</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							  	<tr>
								    <td>Sun</td>
								    <td>12 Noon to 1 AM</td>
							  	</tr>
							</table>

						</div>
						{% if flag %}
						<div class="tab-pane" id="menu">
							<!-- <table class="table table-striped shop_attributes">	
								<tbody>
									<tr class="">
										<th>Size</th>
										<td>Large, Medium, Small, X-Large</td>
									</tr>		
									<tr class="alt">
										<th>Colour</th>
										<td>Orange, Yellow</td>
									</tr>
								</tbody>
							</table> -->
							<img alt="" height="520px" width="50px" src="/static/media/{{place.menu}}">
						</div>
						{% endif %}
						<div class="tab-pane" id="maps">
    						<input id="origin-input" type="text" placeholder="Enter an origin location">
    						<input id="destination-input" type="text" placeholder="Enter a destination location">
    						
						    <div id="map" style="width:500px; height: 300px;"></div>

						<script>
					      // This example requires the Places library. Include the libraries=places
					      // parameter when you first load the API. For example:
					      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

					      function initMap() {
					        var origin_place_id = null;
					        var destination_place_id = null;
					        var travel_mode = 'WALKING';
					        var map = new google.maps.Map(document.getElementById('map'), {
					          mapTypeControl: false,
					          center: {lat: -33.8688, lng: 151.2195},
					          zoom: 13
					        });
					        var directionsService = new google.maps.DirectionsService;
					        var directionsDisplay = new google.maps.DirectionsRenderer;
					        directionsDisplay.setMap(map);

					        var origin_input = document.getElementById('origin-input');
					        var destination_input = document.getElementById('destination-input');
					        var modes = document.getElementById('mode-selector');

					        map.controls[google.maps.ControlPosition.TOP_LEFT].push(origin_input);
					        map.controls[google.maps.ControlPosition.TOP_LEFT].push(destination_input);
					        map.controls[google.maps.ControlPosition.TOP_LEFT].push(modes);

					        var origin_autocomplete = new google.maps.places.Autocomplete(origin_input);
					        origin_autocomplete.bindTo('bounds', map);
					        var destination_autocomplete =
					            new google.maps.places.Autocomplete(destination_input);
					        destination_autocomplete.bindTo('bounds', map);

					        // Sets a listener on a radio button to change the filter type on Places
					        // Autocomplete.
					        // function setupClickListener(id, mode) {
					        //   var radioButton = document.getElementById(id);
					        //   radioButton.addEventListener('click', function() {
					        //     travel_mode = mode;
					        //   });
					        // }
					        // setupClickListener('changemode-walking', 'WALKING');
					        // setupClickListener('changemode-transit', 'TRANSIT');
					        // setupClickListener('changemode-driving', 'DRIVING');

					        function expandViewportToFitPlace(map, place) {
					          if (place.geometry.viewport) {
					            map.fitBounds(place.geometry.viewport);
					          } else {
					            map.setCenter(place.geometry.location);
					            map.setZoom(17);
					          }
					        }

					        origin_autocomplete.addListener('place_changed', function() {
					          var place = origin_autocomplete.getPlace();
					          if (!place.geometry) {
					            window.alert("Autocomplete's returned place contains no geometry");
					            return;
					          }
					          expandViewportToFitPlace(map, place);

					          // If the place has a geometry, store its place ID and route if we have
					          // the other place ID
					          origin_place_id = place.place_id;
					          route(origin_place_id, destination_place_id, travel_mode,
					                directionsService, directionsDisplay);
					        });

					        destination_autocomplete.addListener('place_changed', function() {
					          var place = destination_autocomplete.getPlace();
					          if (!place.geometry) {
					            window.alert("Autocomplete's returned place contains no geometry");
					            return;
					          }
					          expandViewportToFitPlace(map, place);

					          // If the place has a geometry, store its place ID and route if we have
					          // the other place ID
					          destination_place_id = place.place_id;
					          route(origin_place_id, destination_place_id, travel_mode,
					                directionsService, directionsDisplay);
					        });

					        function route(origin_place_id, destination_place_id, travel_mode,
					                       directionsService, directionsDisplay) {
					          if (!origin_place_id || !destination_place_id) {
					            return;
					          }
					          directionsService.route({
					            origin: {'placeId': origin_place_id},
					            destination: {'placeId': destination_place_id},
					            travelMode: travel_mode
					          }, function(response, status) {
					            if (status === 'OK') {
					              directionsDisplay.setDirections(response);
					            } else {
					              window.alert('Directions request failed due to ' + status);
					            }
					          });
					        }
					      }
					    </script>
						<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB-PU3DlWyzd9wgX3jdu4Z7IXs1yKoEr4&libraries=places&callback=initMap" async defer></script> -->
						</div>
						
					</div>				
				</div>	
				<!-- Comment Section -->
			    <!--  Related places  -->
			</div>
		</div>
		<div class="col-md-3 col">
			<div class="block">	
				<ul class="nav nav-list">
					<li class="nav-header">{{category}}</li>
					{% for tag in tags  %}
						<li><a href="#">{{tag}}</a></li>
					{% endfor %}
				</ul>
				<br/>
			</div>
		</div>
	</div>
</div>	
<div class="container">
		<div class="row">
		<div class="col-md-12">	
					<br>
					<h4 class="title">
						<span class="pull-left"><span class="text"><strong>Related</strong> Places</span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-1" class="carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails listing-products">
									{% for place in related_places %}
									<li class="col-md-3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<a href="/detail/{{place.url}}"><img alt="" height="230px" src="/static/media/{{place.image}}">
												<div data-res-id="102904" class="ads-res-snippet-rating-large  rating-for-102904 level-5">
        										{{place.rating}}
      										</div>
											</a><br/>
											<a href="/detail/{{place.url}}" class="title">{{place.name}}</a><br/>
											<!-- <a href="#" class="category">Suspendisse aliquet</a>
											<p class="price">$341</p> -->
										</div>
									</li>
									{% endfor %}
									<p>   </p>										
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		

	<br><br>

<script src="themes/js/common.js"></script>
<script>
var count = false;
	$(document).on('click','#map_google',function(event){
			if(count == false){
				$.ajax({
					url : 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDB-PU3DlWyzd9wgX3jdu4Z7IXs1yKoEr4&libraries=places&callback=initMap',
					async : false,
					dataType : "script"
				});
				count = true;
			}

	});
	$(document).ready(function() {
		$('.thumbnail').fancybox({
			openEffect  : 'none',
			closeEffect : 'none'
		});
		
		$('#myCarousel-2').carousel({
            interval: 2500
        });								
	});

</script>
<script type="text/javascript">
$(document).on('click','.glyphicon-star',function(){

	var rating = $('#count').html();
	// alert(rating);
	$.ajax({
		type:'POST',
		url:'/add-review/',
		data:{'add_rating':3}
		// success:function(data)
		// {
		// 	alert(data);
		// }
	});
});	 
</script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB-PU3DlWyzd9wgX3jdu4Z7IXs1yKoEr4&libraries=places&callback=initMap" async defer></script>
 -->    
<section class="footer">
    <div class="container">
    	<div class="row">
        	<div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv logo-w3">

					<a href="/dashboard/"><h4>CARTE </h4></a>
					<p>Explore curated lists of top restaurants,<br>hotels, cafes, pubs, and bars in India,<br> based on trends</p><br>
				</div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<a href="/about/"><h4>about us</h4></a>
                	<p>Meet our Team</p><br>
      				</div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<a href="/contact/"><h4>Contact us</h4></a>
                	<p>We look forward to hearing from you!</p>
      				<p><i class="fa fa-phone"></i> Phone (India) : +91 9460 413 805</p>
      				<p><i class="fa fa-envelope"></i> E-mail : carte@gmail.com</p><br>
      				</div>
            </div>
        </div>
    </div>
</section>
 </body>
</html>